@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  background: #333;
  background: url("pics/build/background-lg.jpg");
  color: #FFF;
  font-family: 'Source Code Pro', monospace;
  margin: 0; }

.row {
  display: flex;
  flex-wrap: wrap; }

.container {
  margin: 0 auto;
  max-width: 830px;
  text-align: center; }

.hidden {
  display: none !important; }

header {
  justify-content: center;
  height: 100vh;
  transition: 2s all; }
  header.hide {
    height: 150px; }
    header.hide .flags {
      transform: translateY(-200px);
      transition: 2s all; }
      header.hide .flags .flag_pl {
        display: inline-block;
        transform: translateX(-120px);
        transition: 2s all; }
      header.hide .flags .flag_gb {
        display: inline-block;
        transform: translateX(120px);
        transition: 2s all; }
    header.hide p {
      opacity: 0;
      transition: 2s all; }
  header h1 {
    font-size: 3em;
    margin: 0 auto;
    padding: 50px 30px;
    text-align: center;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
    text-transform: uppercase; }
  header .flags a {
    border-radius: 20px; }
  header .flags img {
    border-radius: 20px;
    height: 50px;
    margin: 50px 100px; }

#board {
  transition: all 2s; }
  #board p {
    margin: 5px; }

.remaining-chances,
.score,
.category {
  flex: 1; }

#secretWord {
  font-size: 24px;
  letter-spacing: .2em;
  padding: 20px;
  text-transform: uppercase;
  width: 100%; }

.picture-and-alphabet {
  justify-content: center; }

.opacity-zero {
  opacity: 0; }

#hangmanPic {
  max-width: 456px;
  min-height: 285px;
  min-width: 456px;
  position: relative;
  text-align: center; }
  #hangmanPic img {
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 1.5s; }

#hangmanPic,
#alphabet {
  flex: 1; }

#alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.letter {
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow: 1px 3px 5px black;
  color: #FFF;
  cursor: pointer;
  font-size: 22px;
  line-height: 22px;
  padding: 9px;
  text-align: center;
  height: 40px;
  margin: 5px;
  width: 40px; }
  .letter:hover {
    background: #222;
    border: 3px solid #fff;
    background: rgba(0, 200, 0, 0.2);
    border-color: rgba(0, 200, 0, 0.8);
    color: rgba(0, 200, 0, 0.8); }
  .letter:hover {
    background: #222;
    border: 3px solid #fff;
    color: #FFFFFF; }
  .letter.correct {
    background: rgba(0, 200, 0, 0.2);
    border-color: rgba(0, 200, 0, 0.8);
    color: rgba(0, 200, 0, 0.8);
    border-width: 2px;
    cursor: not-allowed; }
  .letter.wrong {
    background: rgba(200, 0, 0, 0.2);
    border-color: rgba(200, 0, 0, 0.8);
    color: rgba(200, 0, 0, 0.8);
    border-width: 2px;
    cursor: not-allowed; }

#message_lost,
#message_win {
  flex: 1; }
  #message_lost button,
  #message_win button {
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 1px 3px 5px black;
    color: #FFF;
    cursor: pointer;
    font-size: 22px;
    line-height: 22px;
    padding: 9px;
    text-align: center;
    background: transparent;
    height: 50px;
    margin: 30px auto;
    width: 160px; }
    #message_lost button:hover,
    #message_win button:hover {
      background: #222;
      border: 3px solid #fff;
      background: rgba(0, 200, 0, 0.2);
      border-color: rgba(0, 200, 0, 0.8);
      color: rgba(0, 200, 0, 0.8); }

/* For tablets: */
@media (max-width: 767px) {
  body {
    background: url("pics/build/background-md.jpg"); }
  header h1 {
    font-size: 1.5em;
    padding: 20px; }
  header .flags a {
    border-radius: 20px; }
  header .flags img {
    border-radius: 20px;
    height: 50px;
    margin: 50px 40px;
    transition: 2s; }
  header.hide {
    height: 80px; }
    header.hide .flags {
      transform: translateY(-120px);
      transition: 2s all; }
      header.hide .flags .flag_pl {
        display: inline-block;
        transform: translateX(-50px);
        transition: 2s all; }
      header.hide .flags .flag_gb {
        display: inline-block;
        transform: translateX(50px);
        transition: 2s all; }
      header.hide .flags img {
        margin: 10px 10px;
        transform: scale(0.7);
        transition: 2s; }
    header.hide p {
      transform: translateY(0px); }
  #secretWord {
    font-size: 1em;
    min-height: 0;
    padding: 20px 10px; }
  #hangmanPic {
    display: none; } }

@media (max-width: 850px) {
  .picture-and-alphabet {
    flex-direction: column; }
  #hangmanPic {
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */